.new-elem {
  display: flex;
  justify-content: space-evenly;
}

.new-elem__stroke {
  outline: none;
  padding: 0;
  width: 50%;
  height: 26px;
  border: 1px solid var(--border-list);
}

.new-elem__stroke:hover {
  border: 1px solid var(--back-title-border);
  background-color: var(--input-hover);
}

.new-elem__stroke:focus,
.new-elem__stroke:active {
  background-color: var(--back-text-title);
}

.new-elem__btn {
  width: 100px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: var(--back-title-border);
  color: var(--back-text-title);
}

.new-elem__btn:hover {
  background: var(--border-list);
}

.new-elem__btn:focus,
.new-elem__btn:active {
  background: var(--back-title-border);
}
