.new-elem {
  display: flex;
  justify-content: space-evenly;
}

.new-elem__input {
  padding: 0;
  width: 50%;
  height: 26px;
  border: 1px solid var(--border-list);
  transition: border 0.5s ease;
}

.new-elem__input:hover {
  border: 1px solid var(--back-title-border);
  transition: outline 1s;
}

.new-elem__input:focus {
  outline: 2px solid var(--back-title-border);
}

.new-elem__btn {
  width: 100px;
  border: 0;
  border-radius: 5px;
  background: var(--back-title-border);
  color: var(--back-text-title);
  transition-duration: 0.8s;
}

.new-elem__btn:hover {
  background: var(--border-list);
}

.new-elem__btn:focus,
.new-elem__btn:active {
  background: var(--back-title-border);
}
